<% content_for :head do %>
  <%= content_tag( :title, "Wantランキング - monolist" ) %>
  <%= tag( "meta", name: "description",
        content: "多くの人が欲しいモノ、上位10点を表示しています。"
      ) %>
<% end %>

<h2 class="page-heading">Wantランキング</h2>
<%= render partial: 'rankings/list_item', locals: {rank_in_items: @rank_in_items, context: @context} %>
